
.state-page > .top > div {
  float: left;
}

.state-page > .top > .left {
  width: 54%;
}

.state-page > .top > .state-map {
  padding: 0 1% 0 0;
}

.state-page > .top > .stats {
  width: 45%;
}

.state-page > .top::after {
  content: "";
  clear: both;
  display: table;
}

.state-page .stats .state-name {
  font-size: 3em;
  padding: 0;
  text-align: center;
  margin: 0 10% 20px 0px;
}

.state-page .stats ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.state-page .stats li {
  font-size: 1.2em;
  list-style-type: none;
  margin: 5px 0;
}

.state-page .stats li .label {
  width: 40%;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
  font-size: 0.9em;
  text-decoration: underline
}
.state-page .stats li .value {
  vertical-align: top;
  font-weight: bold;
}

/* TODO: need sass to apply clearfix as needed */
.state-page .charts::after {
  content: "";
  clear: both;
  display: table;
}

.state-page .filters-container {
  display: flex;
}

.state-page .filters {
   margin: 0 auto;
   margin-bottom: 10px;
   /* display: inline-flex; */
}

.state-page .select-dropdown {
  font-size: 2em;
  outline: none;
  color: black;
  text-align: right;
  margin-left:  10px;
}

.state-page .select-dropdown *  {
  outline: none;
  color: black;
  font-weight: bold;
  text-align: right;
}