.tables-page .table {
  display: grid;
  font-family: Monaco, monospace;
}

.tables-page .state-table {
  grid-template-columns: auto repeat(8, max-content)
}

.tables-page .sa-table {
  grid-template-columns: auto repeat(7, max-content)
}

.tables-page .table > div {
  grid-column: auto;
  grid-row: auto;
  padding: 5px;
  border: 1px solid grey;
  text-align: right;
}

.tables-page .table > div.name {
  text-align: left;
}