.area-chart {
  /* width: 500px; */
  /* height: 400px; */
  border: solid grey 1px;
  float: left;
  margin: 5px;
}

.area-chart .header {
  padding-bottom: 5px;
}

.area-chart .totals {
  font-size: 1em;
  float:right;
  display: inline-block;
  padding-right: 5px;
}

.area-chart .name {
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 5px;
}