/* TODO: refactor the two charts to share css */
.area-chart {
  float: left;
  margin: 10px 15px;
}

.area-chart .header {
  padding-bottom: 5px;
  border-bottom: solid grey 1px;
  margin-bottom: 10px;
}

.area-chart .totals {
  font-size: 1em;
  vertical-align: bottom;
  float:right;
  display: inline-block;
  padding-right: 5px;
  padding-top: 5px;
}

.area-chart .name {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 5px;
}