.cumulative-chart {
  float: left;
  margin: 10px 15px;
}

.cumulative-chart .header {
  padding-bottom: 5px;
  border-bottom: solid grey 1px;
  margin-bottom: 10px;
}

.cumulative-chart .name {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 5px;
}