.filter-control {}

.filter-control > .filter-option {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  z-index: 100;
  cursor: pointer;
}

.filter-control > .filter-option.chosen {
  cursor: default;
}

.filter-control > .filter-option.chosen > .inner-filter-option {
  background-color: pink;

}

.filter-control > .filter-option > .inner-filter-option {
  cursor: inherit;
  display: inline-block;
  background-color: white;
  padding: 5px 8px;
}

.filter-control > .filter-option > button {
  border: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
}

.filter-control > .filter-option > button:focus {
  outline:0;
}

.filter-control > .filter-option + .filter-option {
  border-left: 2px solid black;
}