.group {
  padding-bottom: 30px;
}

.group::after {
  content: "";
  clear: both;
  display: table;
}

.group .group-header {
  width: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: underline;
  font-size: 1.3em;
}