.App {
}

.grid {
  padding: 5px;
}

/* need sass to apply clearfix as needed */

.filters::after {
  content: "";
  clear: both;
  display: table;
}

.filters > div {
  padding: 0 10px;
  float: left;
}

.sort, .aggregate {
  display: inline-block;
}

button {
  border: 0;
  background: none;
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
  
}

.App-header {
  background-color: pink;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}